deep_translator==1.11.4
dj_database_url==2.1.0
Django==4.0.6
django_heroku==0.3.1
emoji==2.8.0
graphene==3.3
graphene_django==3.1.5
nltk==3.8.1
numpy==1.25.1
python-decouple==3.8
regex==2023.8.8
Requests==2.31.0
django-graphql-jwt==0.4.0